body {
    background-color: rgb(244, 0, 163);
}

.hideElement {
    visibility: hidden;
}

.showElement {
    display: block;
}


.mainHeading {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}   


.subHeading {
    font-size: 2em;
}